#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- https://jazz.net/wiki/bin/view/Main/JAFServiceFramework -->
<plugin>
  <extension
    point="com.ibm.team.repository.common.components">
    <component
      id="${package}"
      name="REST service">
      <service
        name="REST Service"
        kind="MODELLED_REST"
        uri="${package}.I${serviceName}"
        version="${qualifiedVersion}">
      </service>
    </component>
  </extension>
  <extension
    point="com.ibm.team.repository.service.serviceProvider">
    <serviceProvider
      componentId="${package}"
      implementationClass="${package}.${serviceName}">
      <provides>
        <providedService interface="${package}.I${serviceName}"/>
      </provides>
      <prerequisites>
        <requiredService interface="com.ibm.team.process.service.IProcessServerService"/>
        <requiredService interface="com.ibm.team.repository.common.service.IContributorService"/>
        <requiredService interface="com.ibm.team.repository.service.IRepositoryItemService" />
        <requiredService interface="com.ibm.team.workitem.service.IAuditableServer"/>
        <requiredService interface="com.ibm.team.workitem.service.IQueryServer" />
        <requiredService interface="com.ibm.team.workitem.service.IWorkItemServer"/>
      </prerequisites>
    </serviceProvider>
  </extension>
</plugin>
